### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
a = purchase_data['SN'].value_counts()
df = pd.DataFrame(a)
count = df.count()
number_of_players = pd.DataFrame(count)
number_of_players = number_of_players.reset_index(drop=True)
number_of_players = number_of_players.rename(columns={'O':'Total Players'})
number_of_players

     0
0  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate number of unique items
unique_items = purchase_data['Item ID'].value_counts()
ui_df = pd.DataFrame(unique_items)
number_items = ui_df.count()
number_items = number_items.sum() # = 183

# Calculate average price
total_price = purchase_data['Price'].sum()
total_purchases = purchase_data[purchase_data["Price"] != 0]
tp = total_purchases['Price'].count()
average_price = total_price/tp
average_price # = 3.05

# Calculate number of purchases
number_purchases = total_purchases['Price'].count()
number_purchases # = 780

# Calculate total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue # = 2379.77

# Purchase Analysis
purchase_analysis = pd.DataFrame({'Number of Items':[number_items], 'Average Price':[average_price], 
                                  'Number of Purchases':[number_purchases], 'Total Revenue':[total_revenue]})
purchase_analysis.head()

   Number of Items  Average Price  Number of Purchases  Total Revenue
0              183       3.050987                  780        2379.77

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Calculate Percentage of Male Players
male_players_df = purchase_data[purchase_data['Gender'] == 'Male']
male_players = male_players_df['SN'].unique()
number_male = len(male_players)
number_male # = 484
percent_male = (number_male/number_of_players)*100
percent_male # = 84.0278

# Calculate Percentage of Female Players
female_players_df = purchase_data[purchase_data['Gender'] == 'Female']
female_players = female_players_df['SN'].unique()
number_female = len(female_players)
number_female # = 81
percent_female = (number_female/number_of_players)*100
percent_female # = 14.0625

#Calculate Percentage of other genders
nondisclosed_players_df = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']
nondisclosed_players = nondisclosed_players_df['SN'].unique()
number_nondisclosed = len(nondisclosed_players)
number_nondisclosed # = 81
percent_nondisclosed = (number_nondisclosed/number_of_players)*100
percent_nondisclosed # = 1.9097

          0
0  1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase Count
male_purchases = male_players_df['Purchase ID'].count()
female_purchases = female_players_df['Purchase ID'].count()
nondisclosed_purchases = nondisclosed_players_df['Purchase ID'].count()

In [13]:
# Average Purchase Price
# Total Purchase Price
male_price = male_players_df['Price'].sum()
avg_male_price = male_price/male_purchases
female_price = female_players_df['Price'].sum()
avg_female_price = female_price/female_purchases
nondisclosed_price = nondisclosed_players_df['Price'].sum()
avg_nondisclosed_price = nondisclosed_price/nondisclosed_purchases

In [15]:
# Avg Total Purchase per Person
avg_price_male_player = male_price/number_male
avg_price_female_player = female_price/number_female
avg_price_nondisclosed_player = nondisclosed_price/number_nondisclosed

In [27]:
# Purchase Analisys (Gender)
purchase_analysis_gender_df = pd.DataFrame({'Purchase Count': [male_purchases, female_purchases, nondisclosed_purchases],
                              'Total Purchase Price':[male_price, female_price, nondisclosed_price],
                               'Average Purchase Price':[avg_male_price, avg_female_price, avg_nondisclosed_price],
                               'Average Total Purchase per Person':[avg_price_male_player,avg_price_female_player,avg_price_nondisclosed_player]
                               })
purchase_analysis_gender_df = purchase_analysis_gender_df.rename(index={0:'Male',1:'Female',2:'Nondisclosed/Other'})
purchase_analysis_gender_df

,Purchase Count,Total Purchase Price,Average Purchase Price,Average Total Purchase per Person
Male,652,1967.64,3.017853,4.065372
Female,113,361.94,3.203009,4.468395
Nondisclosed/Other,15,50.19,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame